.navbar {
    margin-right: auto;
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_link {
    font-size: 24px;
    color: black;
    background-color: aqua;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 20px 40px;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.navbar_link:hover {
    text-decoration: underline;
    background-color: cadetblue;
}
