.Header {
    background-color: limegreen;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    /*position: fixed;*/
}

.Header_switch-hamburger {
    display: none;
    text-align: center;
    vertical-align: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 100;
}

.Header_link {
    height: 100%;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Header_link__black {
    color: black;
}

.Header_title {
    margin: 0;
}

.Header_title__size-big {
    font-size: 24px;
}

.Header_title-about {
    margin: 0;
    align-self: flex-end;
}

.Header_title-about__size-small {
    font-size: 18px;
}

.Header_img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 15px;
}

.Header_title-container {
    display: flex;
    flex-direction: column;
}

.Header_links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.Header_navlinks {
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5%;
    margin-right: 30px;
}

.Header_navlinks__size-small {
    font-size: 18px;
    padding: 10px;
}

.Header_navlinks__color {
    color: black;
}

.Header_navlinks:last-of-type {
    margin-right: 0;
}

.Header_navlinks:hover {
    text-decoration: underline;
    background-color: antiquewhite;
}

@media (max-width: 500px) {
    .Header {
        width: 100vw;
    }
    .Header_title__size-big {
        font-size: 14px;
    }
    .Header_title-about__size-small {
        font-size: 12px;
    }
    .Header_links-container {
        display: none;
        background-color: limegreen;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .Header_navlinks {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .Header_switch-hamburger {
        display: inline-block;
    }
    .Header_links-container__visible {
        display: flex;
    }
}
