.Header {
    height: 200px;
}

.Header_link {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.Header_link__title {
    font-size: 24px;
}

.Header_link__title:hover {
    text-decoration: underline;
}

.Header_link__img {
    width: 200px;
    height: 200px;
    display: inline-block;
}
